
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# Uploads directory (we don't want to track user uploads)
uploads/

# IDE settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
# Models and Binaries
tesseract-ocr/
poppler_lib/
poppler.zip
tesseract_installer.exe
*.whl

# Logs and Temp
*.log
inference_results/
output/
log_output/
